<!-- ng for -->
<div class="inicio">
    <div class="logo">
      <img src="assets/img/verduleria.png" alt="Logo de Verduras" />
    </div>
    <h1>Bienvenido a Nuestra Tienda de Verduras</h1>
    <p>Descubre la frescura de nuestros productos cultivados con amor.</p>
  </div>
  

<div class="product-container justify-content-center aling-items-center">
    <div class="product" *ngFor="let unaVerdura of verduras">
        <img class="img2" [src]="unaVerdura.Imagen" alt="">
        <h2>{{unaVerdura.Nombre}}</h2>
        <p>{{unaVerdura.Descripcion}}</p>
        <p>${{unaVerdura.Precio}}</p>
        <p>{{unaVerdura.Unidad}}</p>
        <p>{{unaVerdura.Kilo}}</p>
    </div>
</div>   
<br>    
<app-formulario></app-formulario>

    